body {
  font-family: 'IBM Plex Mono', monospace;
  background-color: #f0f0f0;
  margin: 0;
  padding: 0;
}

#game-screen {
  max-width: 600px;
  margin: 50px auto;
  background-color: #ffffff;
  border: 2px solid #dddddd;
  padding: 20px;
  box-sizing: border-box;
}

#output-area {
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #dddddd;
  padding: 10px;
  margin-bottom: 10px;
  white-space: pre-wrap; /* Added style for text wrapping */
  scrollbar-width: thin;
  scrollbar-color: #999999 #dddddd;
}
#output-area::-webkit-scrollbar {
  width: 6.3px;
}
#output-area::-webkit-scrollbar-track{
  background-color: #dddddd;  
}
#output-area::-webkit-scrollbar-thumb{
  background-color: #525151;
  border-radius: 5px;
}

#input-area {
  display: flex;
}

#input-field {
  flex: 1;
  padding: 5px;
  font-size: 16px;
  border: 1px solid #dddddd;
}

#submit-button {
  padding: 5px 10px;
  font-size: 16px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  cursor: pointer;
  margin-left: 10px;
}

#submit-button:hover {
  background-color: #45a049;
}
